[submodule "stellaris-tech-tree"]
	path = stellaris-tech-tree
	url = https://github.com/HooverTesla/stellaris-tech-tree.git
[submodule "webapp"]
	path = webapp
	url = ssh://u2075-ntm9pzojpmo6@gcam1274.siteground.biz:18765/home/customer/www/stellaris.hoovertesla.com/public_html/
